body {
  background: rgb(200, 200, 200);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  --blur: 2px;
}

.border {
  box-sizing: border-box;
  transform: rotate(-90deg);
  position: relative;
  background: black;
  background-image: linear-gradient(top right, #5D5D5B, #383838);
  padding: 7px;
  width: 440px;
  box-shadow:
    -1px 1px var(--blur) 1px rgba(0, 0, 0, 0.10),
    -2px 2px var(--blur) 1px rgba(0, 0, 0, 0.09),
    -3px 3px var(--blur) 1px rgba(0, 0, 0, 0.08),
    -4px 4px var(--blur) 1px rgba(0, 0, 0, 0.07),
    -5px 5px var(--blur) 1px rgba(0, 0, 0, 0.06),
    -6px 6px var(--blur) 1px rgba(0, 0, 0, 0.05),
    -7px 7px var(--blur) 1px rgba(0, 0, 0, 0.04),
    -8px 8px var(--blur) 1px rgba(0, 0, 0, 0.03),
    -9px 9px var(--blur) 1px rgba(0, 0, 0, 0.03),
    -10px 10px var(--blur) 1px rgba(0, 0, 0, 0.03),
    -11px 11px var(--blur) 1px rgba(0, 0, 0, 0.03),
    -12px 12px var(--blur) 1px rgba(0, 0, 0, 0.02),
    -13px 13px var(--blur) 1px rgba(0, 0, 0, 0.02),
    -14px 14px var(--blur) 1px rgba(0, 0, 0, 0.01),
    -15px 15px var(--blur) 1px rgba(0, 0, 0, 0.01),
    -16px 16px var(--blur) 1px rgba(0, 0, 0, 0.01);

  &:before {
    content: ' ';
    display: block;
    padding-bottom: 140%;
  }
}

.frame {
  left: 3%;
  top: 2.5%;
  box-shadow: inset -1px 1px 6px 1px rgba(0, 0, 0, .24);
  width: 94%;
  height: 95%;
  background: white;
  align-items: center;
  display: flex;
  padding: 18px;
  box-sizing: border-box;
  position: absolute;

}

.image {
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, .2);
  height: 100%;
  width: 100%;

  background-size: cover;
  background-position: center center;
}

#primo {
  position: absolute;
  left: 900px;
  top: 10px;



}

.testoQuadro {
  position: absolute;
  margin: auto;

  height: 100%;
  text-align: center;
  left: -65px;
  top: 105px;
  width: 570px;
  height: 400px;


}


#secondo {
  position: absolute;
  top: 300px;
  left: 300px;

}


.border1 {
  box-sizing: border-box;
  transform: rotate(-90deg);
  position: relative;
  background: black;
  background-image: linear-gradient(top right, #5D5D5B, #383838);
  padding: 7px;
  width: 200px;
  height: 550px;

  box-shadow:
    -1px 1px var(--blur) 1px rgba(0, 0, 0, 0.10),
    -2px 2px var(--blur) 1px rgba(0, 0, 0, 0.09),
    -3px 3px var(--blur) 1px rgba(0, 0, 0, 0.08),
    -4px 4px var(--blur) 1px rgba(0, 0, 0, 0.07),
    -5px 5px var(--blur) 1px rgba(0, 0, 0, 0.06),
    -6px 6px var(--blur) 1px rgba(0, 0, 0, 0.05),
    -7px 7px var(--blur) 1px rgba(0, 0, 0, 0.04),
    -8px 8px var(--blur) 1px rgba(0, 0, 0, 0.03),
    -9px 9px var(--blur) 1px rgba(0, 0, 0, 0.03),
    -10px 10px var(--blur) 1px rgba(0, 0, 0, 0.03),
    -11px 11px var(--blur) 1px rgba(0, 0, 0, 0.03),
    -12px 12px var(--blur) 1px rgba(0, 0, 0, 0.02),
    -13px 13px var(--blur) 1px rgba(0, 0, 0, 0.02),
    -14px 14px var(--blur) 1px rgba(0, 0, 0, 0.01),
    -15px 15px var(--blur) 1px rgba(0, 0, 0, 0.01),
    -16px 16px var(--blur) 1px rgba(0, 0, 0, 0.01);

  &:before {
    content: ' ';
    display: block;
    padding-bottom: 140%;
  }
}

.frame1 {
  left: 3%;
  top: 2.5%;
  box-shadow: inset -1px 1px 6px 1px rgba(0, 0, 0, .24);
  width: 94%;
  height: 95%;
  background: white;
  align-items: center;
  display: flex;
  padding: 18px;
  box-sizing: border-box;
  position: absolute;

}

.animate-charcter {
  background-image: linear-gradient(-225deg,
      #0e619c 0%,
      #0E9A9C 69%,
      #650E9C 87%,
      #9A9C0E 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 3em;
  text-align: center;
}

.testoQuadro1 {
  position: absolute;
  margin: auto;

  height: 100%;
  text-align: center;
  left: -155px;
  top: 180px;
  width: 510px;
  height: 180px;


}

#titolo {
  position: absolute;
  background-color: blue;
  left: 100px;
  top: 50px;
}

.titoloOrario1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 100px;
  margin-bottom: 0;
  text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.959);

}

.titoloOrario2 {
  position: absolute;
  top: 150px;
  left: 100px;
  font-size: 100px;
  padding-left: 40px;
  padding-top: -1000px;
  text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.959);
}

.tablemensa {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

.tablemensa th {
  font-family: 'Roboto', sans-serif;
  width: 80px;
  font-weight: 600;
  text-align: center;
  background-color: #0E9A9C;

}

.tablemensa td {
  font-family: 'Roboto', sans-serif;
  width: 80px;
  font-weight: 300;
  text-align: center;
  background-color: #c5e9ea;

}

.tableorari {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.tableorari .giorni {
  font-family: 'Roboto', sans-serif;
  width: 80px;
  font-weight: 600;
  text-align: center;
  background-color: #0E9A9C;

}

.tableorari td {
  font-family: 'Roboto', sans-serif;
  width: 80px;
  height: 40px;
  font-weight: 300;
  text-align: center;
  background-color: #c5e9ea;

}

.tableorari .orari {
  width: 100px;
  background-color: #0E9A9C;
}


h2 {
  font-family: 'Roboto', 'Times New Roman', Times, serif;

}

.titoloOrarioLezioni {
  font-size: 45px;
  padding-top: 30px;
}

.titoloOrarioMensa {
  font-size: 35px;
}